.container {
  max-width: 500px;
  position: sticky;
  height: fit-content;
  top: 1rem;
}

.errorContainer {
  padding: 20px;
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  border-radius: var(--border-radius);
  color: var(--primary-color);
}

.errorTitle {
  font-weight: bold;
  margin-top: 0;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding: 20px;
  color: var(--text-color);
}


.name {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
}


.ul {
  padding: 0;
  padding-left: 20px;
  list-style-type: square;
}

.li {
  padding: 4px 2px;
  border-bottom: 1px dotted var(--border-color);
}

.li:hover {
  background-color: var(--hover-bg);
}

.liWrapper {
  display: flex;
  justify-content: space-between;
}
