.flyoutWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  background: var(--flyout-bg);
  transition: background 0.3s;
}

.flyoutBox {
  background: var(--box-color-bg);
  color: var(--text-color);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
  padding: var(--padding-lg) var(--padding-xxl);
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}

.count {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  color: var(--primary-color);
}

.button {
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--pagination-bg);
  color: white;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: background-color 0.3s;
  margin-right: var(--margin-sm);
  font-weight: var(--font-weight-lg);
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: var(--pagination-hover);
}
