.errorBoundary {
  padding: var(--padding-xxl);
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  border-radius: var(--border-radius);
  color: var(--primary-color);
  text-align: center;
  max-width: var(--max-width-lg);
  margin: 0 auto;
  margin-top: var(--margin-xxl);
}

.title {
  color: var(--primary-color);
  font-size: var(--font-size-lg);
}

.message {
  font-weight: var(--font-weight-bold);
  margin: var(--margin-sm) 0;
}
