.appContainer {
   max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--transition);
}

.topSection {
  margin-bottom: 30px;
}

.appTitle {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 60px;
}

.resultsSection {
  background-color: var(--section-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.sectionTitle {
  color: var(--secondary-color);
  margin-top: 0;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.nav {
  padding: 1rem;
  margin-bottom: 2rem;
   background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--nav-link);
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}


