.errorButton {
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--danger-color);
  color: white;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: background-color 0.3s;
}

.errorButton:hover {
  background-color: var(--danger-hover);
}
