.appContainer {
  max-width: var(--max-width);
  padding: var(--padding-xl);
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-xxl);
}

.topSection {
  margin-bottom: var(--margin-xl);
}

.appTitle {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: var(--margin-lg);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-s);
}

.resultsSection {
  background-color: var(--section-bg);
  padding: var(--padding-xl);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}

.sectionTitle {
  color: var(--secondary-color);
  margin-top: 0;
}

.footer {
  margin-top: var(--margin-xl);
  text-align: center;
}

.nav {
  padding: var(--padding-lg);
  margin-bottom: var(--margin-xl);
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-right: var(--margin-md);
}

.nav a {
  text-decoration: none;
  color: var(--nav-link);
  font-weight: var(--font-weight-md);
}

.nav a:hover {
  text-decoration: underline;
}


