.appContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding-xl);
  background-color: var(--background-color);
  color: var(--text-color);
  transition: var(--transition);
  margin-top: var(--margin-2xl);
  margin-bottom: var(--margin-3xl);
  border-radius: var(--border-radius-lg);
}

.appContainer.light {
  background-color: #ffffff;
  color: #000000;
}

.appContainer.dark {
  background-color: #333333;
  color: #ffffff;
}
