.aboutContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--box-color-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

.courseLink {
  display: block;
  margin-top: 0.5rem;
  color: var(--nav-link);
  text-decoration: none;
  transition: var(--transition);
}

.courseLink:hover {
  text-decoration: underline;
}

.backLink {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--card-bg);
  border-radius: 4px;
  text-decoration: none;
  color: var(--text-color);
  width: 180px;
  text-align: center;
  transition: var(--transition);
  border: 1px solid var(--card-border);
}

.backLink:hover {
  background-color: var(--card-hover-shadow);
}
