.searchContainer {
  display: flex;
  margin-bottom: 20px;
}

.searchInput {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-size: 16px;
  color: var(--text-color);
  border-radius: 4px 0 0 4px;
}

.searchButton {
  padding: 10px 20px;
   background-color: var(--pagination-bg);
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: var(--pagination-hover);
}
