.searchContainer {
  display: flex;
  margin-bottom: var(--margin-lg);
}

.searchInput {
  flex: 1;
  padding: var(--padding-base) var(--padding-lg);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-size: var(--font-size-base);
  color: var(--text-color);
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
}

.searchButton {
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--pagination-bg);
  color: white;
  border: none;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: var(--pagination-hover);
}
