body {
  margin: 0;
  padding: 0;

  background-color: var(--body-bg);
  color: var(--body-color);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  font-family: "Gruppo", sans-serif;
}


a {
  all: unset;
  cursor: pointer;
}
