.notFoundContainer {
  max-width: var(--max-width-md);
  margin: var(--margin-xl) auto;
  padding: var(--padding-xxl);
  text-align: center;
  background-color: var(--box-color-bg);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}

.homeLink {
  display: inline-block;
  margin-top: var(--margin-lg);
  padding: var(--padding-md) var(--padding-xl);
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  text-decoration: none;
  color: var(--text-color);
  font-weight: var(--font-weight-md);
  border: 0.5px solid var(--card-border);
}

.homeLink:hover {
  background-color: var(--card-bg);
}

.notFoundTitle {
  color: var(--primary-color);
}
